@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.endgame {
  grid-column: center-start / center-end;
  @extend %sec-padding;
  display: flex;
  flex-direction: column;
  place-content: center;
  background-color: var(--color-three);

  h2 {
    @extend %sec-heading;
    text-align: center;
    color: var(--color-five);
  }

  .reveal,
  .details {
    font-size: font-size("small");
    letter-spacing: 0.1rem;
    text-align: center;
    color: var(--color-five);
  }

  .reveal span {
    color: var(--color-one);
  }

  .controlls {
    margin-top: calc(2rem + 2vw);
    display: flex;
    justify-content: space-evenly;

    button {
      padding: 2vw 4vw;
      border: none;
      border-radius: 1rem;
      font-size: font-size("small");
      color: var(--color-five);
      letter-spacing: 0.1rem;
    }
    .restart {
      background-color: var(--color-one);
    }
    .leave-game {
      background-color: var(--color-four);
    }
  }

  @include media-small {
    h2 {
      font-size: 3rem;
      font-weight: font-weight("bold");
    }

    .reveal,
    .details {
      font-size: 2rem;
    }

    .controlls {
      button {
        font-size: 2rem;
      }
    }
  }
}
