@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.endgame {
  grid-column: center-start / center-end;
  @extend %sec-padding;
  display: flex;
  flex-direction: column;

  h2 {
    @extend %sec-heading;
    text-align: center;
  }

  .reveal,
  .details {
    font-size: font-size("small");
  }
}
