@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.rules {
  grid-column: container-start / container-end;
  @extend %sec-padding;
  background-color: var(--color-five);

  display: flex;
  flex-direction: column;

  h2 {
    @extend %sec-heading;
    text-align: center;
    // color: var(--color-five);
  }

  ul {
    border-top: 0.2rem solid var(--color-four);
    border-bottom: 0.2rem solid var(--color-four);

    li {
      @extend %sec-para;
      list-style: circle;
      text-shadow: 0.1rem 0.1rem var(--color-four-a);
    }
  }

  @include media-small {
    padding-top: 12rem;

    h2 {
      font-size: 3rem;
      font-weight: font-weight("bold");
    }

    ul {
      li {
        font-size: 1.8rem;
      }
    }
  }
}
