@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.rules {
  grid-column: container-start / container-end;
  @extend %sec-padding;
  background-image: linear-gradient(var(--color-two-a), var(--color-one-a)),
    url("../../../public/img/hangman/hangman-bg.png");
  @extend %bg;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h2 {
    @extend %sec-heading;
    text-align: center;
    // color: var(--color-five);
  }

  ul {
    border-top: 0.2rem solid var(--color-four);
    border-bottom: 0.2rem solid var(--color-four);

    li {
      @extend %sec-para;
      list-style: circle;
      text-shadow: 0.1rem 0.1rem var(--color-four-a);
    }
  }

  @include media-tablet {
    height: 60vh;
  }

  @include media-medium {
    height: 75vh;
    background-position: 30%;

    h2 {
      font-weight: font-weight("bold");
    }
  }

  @include media-small {
    height: auto;
    min-height: 100vh;
    padding-top: 10rem;
    background-position: 25%;

    h2 {
      font-size: 3rem;
    }

    ul {
      li {
        font-size: 1.8rem;
      }
    }
  }
}
