@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.display-wrapper {
  @extend %sec-padding;
  display: flex;
  border-top: 0.2rem solid var(--color-five);
  border-bottom: 0.2rem solid var(--color-five);
  padding: 3vw 0;

  .display {
    display: inline-flex;
    width: 100%;
    justify-content: center;

    .letter {
      width: 10vw;
      height: 10vw;
      display: flex;
      place-content: center;
      flex-wrap: wrap;
      border: 0.2rem solid var(--color-five);
      border-radius: 0.2rem;
      background-color: var(--color-four);

      span {
        font-size: font-size("medium");
        text-shadow: 0.2rem 0.2rem var(--color-three-a);
        color: var(--color-five);
      }
    }

    // TODO: 3D
    .letter.guessed {
      background-color: var(--color-five);
      border: 0.2rem solid black;

      span {
        color: var(--color-four);
      }
    }
  }
}
