@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.welcome {
  grid-column: container-start / container-end;
  background-image: url("../../../public/img/portfolio/bg-main.png");
  @extend %bg;
  @extend %sec-padding;
  height: calc(100vh - 3rem - 1vw);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  .title {
    font-size: font-size("large");
    font-weight: font-weight("light");
  }
  .para {
    @extend %sec-para;
    font-size: font-size("medium");
  }
  .title,
  .para {
    color: transparent;
    background-image: linear-gradient(
      90deg,
      var(--color-two),
      var(--color-four)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .social {
    padding: 2vh 2vw;
    place-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;

    a:link,
    a:visited {
      display: inline-block;

      i {
        height: inherit;
        display: block;
        font-size: calc(6rem + 1vw);
        border-radius: 50%;
        overflow: hidden;
      }
    }
    a:hover,
    a:active {
      i {
        color: var(--color-one);
      }
    }
  }

  @include media-tablet {
    height: 100vh;

    .title {
      font-size: font-size("xlarge");
    }
  }

  @include media-medium {
    height: 55vh;

    h1,
    p {
      align-self: center;
      text-align: center;
    }
  }

  @include media-small {
    .social {
      padding: 1vw;

      a:link,
      a:visited {
        i {
          font-size: 6rem;
        }
      }
    }
  }
}
