@import "../../stylesheets/variables";

.about-me_image {
  grid-column: container-start / col-end 2;
  height: 70vh;
  background-color: var(--color-four);
}

.about-me_content {
  grid-column: col-start 3 / container-end;
  height: 70vh;
  background-color: var(--color-five);
  padding: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  label,
  p {
    display: inline-block;
  }
  label {
    min-width: 10vw;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--color-three);
    font-size: font-size("small");
    font-weight: font-weight("bold");
  }
  p {
    width: fit-content;
    font-size: font-size("small");
    font-family: "Roboto", cursive;
  }

  .para {
  }
}
