.nav {
  background-color: darkgoldenrod;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 15px 5px;
}

.nav a {
  color: yellow;
  text-decoration: none;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: green;
  border-bottom: 3px solid #f9e783;
}

.nav li {
  margin: 0 10px;
}

.user-info {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 15px;
}

.user-info a {
  margin-left: 10px;
  text-decoration: none;
  color: blue;
}

.user-info a:hover {
  color: green;
  border-bottom: 3px solid #f9e783;
}
