@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.greeting {
  grid-column: container-start / container-end;
  @extend %sec-padding;
  height: 50vh;
  background-color: var(--color-five);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h2 {
    @extend %sec-heading;
  }
  p {
    @extend %sec-para;
  }

  @include media-small {
    h2 {
      font-size: 2.8rem;
      font-weight: font-weight("bold");
      text-align: center;
    }

    p {
      font-size: 2rem;
      text-align: center;
    }
  }
}
