@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.tasks-list {
  grid-column: center-start / center-end;
  @extend %sec-padding;
  display: flex;
  flex-direction: column;
  background-color: var(--color-three);

  & > p {
    font-size: font-size("medium");
    text-align: center;
    color: var(--color-five);
  }
}
