@import "./mixins";
@import "./variables";

:root {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.9;
  background-color: var(--color-one);
}

.container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      6,
      [col-start] minmax(min-content, 16.25rem) [col-end]
    )
    [center-end] 1fr [container-end];
}

// CUSTOM TEXT SELECTION ..........
::selection {
  background-color: var(--color-one-a);
  opacity: 0.5;
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-five);

  font-weight: font-weight("light");
  font-size: font-size("small");
  letter-spacing: 0.2rem;
}

i {
  color: var(--color-two);
  font-size: font-size("medium");
  letter-spacing: 0;
}

button {
  cursor: pointer;

  &:hover {
    animation-name: kf-btn__shake;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
  }
}

@keyframes kf-btn__shake {
  0% {
    transform: rotateZ(5deg);
  }

  33% {
    transform: rotateZ(0deg);
  }

  66% {
    transform: rotateZ(-5deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}
