@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.header-btn {
  --size: calc(5vw + 5vh);

  // do not change
  --margin: calc(0.5 * var(--size));
  --line: calc(var(--size) / 16);
  --padding: calc(0.25 * var(--margin) + var(--line));

  position: fixed;
  top: var(--margin);
  left: var(--margin);
  width: var(--size);
  height: var(--size);
  padding: var(--padding);
  z-index: 10;
  border: var(--line) solid var(--color-two);
  border-radius: 50%;
  background-color: var(--color-four-a);
  display: none; // flex
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  div {
    width: 100%;
    height: var(--line);
    background-color: var(--color-two);
    transition: all 0.3s ease-in-out;
  }

  &.active {
    background-color: var(--color-one-a);

    div:nth-child(2) {
      opacity: 0;
    }
    div:first-child {
      transform-origin: center;
      transform: translateY(calc(0.25 * var(--size) - var(--line) / 2))
        rotate(45deg);
    }
    div:last-child {
      transform-origin: center;
      transform: translateY(calc(-0.25 * var(--size) + var(--line) / 2))
        rotate(-45deg);
    }
  }

  @include media-tablet {
    & {
      display: flex;
    }
  }
}
